$panelColor = #D8D8D8

// $cap-y-scale: tan(30deg)
// $cap-height = (150/2) * tan(30deg)
// $half-x-spacing = 4 / 2
// $y-spacing = $half-x-spacing * math(2, "sqrt")
// Shape Key Panel Styles

.htmlKeys
    width: 43%
    display: flex
    flex-direction: row
    flex-wrap: wrap-reverse
    align-content: center
    margin: auto
    padding-bottom: 220px

.htmlKeys .htmlNote:nth-child(12n + 7){
    margin-left: 75px;

    
}
    

.htmlNote
    cursor: pointer
    width: 150px
    margin-bottom: -46px
    // margin: unit( $cap-height ,'px') $half-x-spacing $y-spacing



// Transpot Panel Styles

.panel
    background: $panelColor
    display: flex
    height: 10%
    position: fixed
    bottom: 0
    right: 0
    left: 0
    padding: 20px
    align-content: left
    justify-content: left


.selectSynth
    margin: auto
    text-align: center
    select
        text-align: center
        padding: 5px 8px;
        padding-left: 15px
        width: 200px
        border-radius: 0
        border: none
        box-shadow: none;
        background: white
        background-image: none;
        -webkit-appearance: none;
        border-left: 5px solid grey
  
    select:focus
        outline: none



// Modal Styles

.modal
    display: flex
    justify-content: center
    align-items: center
    background-color: black
    opacity: .6
    position: absolute 
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    z-index: 100
    text-align: center
    

#playButton
    font-weight: bold
    font-family: helvetica
    background-color: transparent
    color: white
    display: inline
    font-size: 1em
    padding: 10px 15px
    border: 5px solid white
    letter-spacing: 1px

.hide
    display: none

