.flexcontainer
    display: flex
    flex-direction: row
    flex-wrap: wrap-reverse


.notes 
    display: block
    margin: auto
    width: 95%
    height: 80vh
    overflow-y: scroll


.note
    margin: 5px
    cursor: pointer

