.notes 
    display: block
    margin: auto
    width: 80%
    height: 80vh
    overflow-y: scroll
    


.flexcontainer
    display: flex
    flex-direction: row
    flex-wrap: wrap-reverse
    
    margin: auto
   


.note
    margin: 5px
    cursor: pointer
    height: 150px
    width: 150px

